<div [className]="colorTheme.isLight ? 'header light' : 'header dark'">
  <div class="menu-btn" (click)="toggleShowMenu()">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <a href="#top" id="logo">
    <img [src]="colorTheme.isLight ? '../assets/img/header/logo.svg' : '../assets/img/header/logo-dark.svg'" alt="F." />
  </a>

  <nav [className]="showMenu? 'menu show' : 'menu'">
    <ul [className]="showMenu? 'menu-nav show' : 'menu-nav'">
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Footprints</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
        <img id="lamp-switch" [src]="colorTheme.isLight ? '../assets/img/header/switch-on.svg' : '../assets/img/header/switch-off.svg'" alt="" (click)="colorTheme.toggleColorTheme()"/>
      </li>
    </ul>
  </nav>

  <img id="lamp" [src]="colorTheme.isLight? '../assets/img/header/lamp-on.svg' : '../assets/img/header/lamp-off.svg'" alt="" (click)="colorTheme.toggleColorTheme()"/>

  <img *ngIf="colorTheme.isLight" id="lamp-light" src="../assets/img/header/lights.svg" alt=""/>
</div>