@import '../config';

.light {
  background-color: $bg-color-light;
  color: $primary-color-light;
  a {
    color: $primary-color-light;
  }

  .menu-btn .btn-line {
    background: $primary-color-light;
  }
}

.dark {
  background-color: $bg-color-dark;
  color: $primary-color-dark;
  a {
    color: $primary-color-dark;
  }

  .menu-btn .btn-line {
    background: $primary-color-dark;
  }
}

.header {
  position: relative;
  z-index: 2;
  height: 100px;

  #logo {
    float: left;
    margin: 2rem 3rem 0 3rem;

    img {
      height: 3rem;
    }
  }

  nav {
    display: inline-block;
  }

  .menu {
    &-nav {
      .nav-link {
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        @include easeOut;

        &:hover {
          color: $third-color;
        }
      }
    }
  }

  // Hamburger button
  .menu-btn {
    position: fixed;
    z-index: 10;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
  
    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      @include easeOut;
    }
  
    // Rotate into X with menu lines
    &.close {
      transform: rotate(180deg);
      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }
  
        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }
  
        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }

}

@include mediaLg {
  .header {
    
    .menu-btn {
      display: none;
    }

    .menu-nav {
      margin: 0;
      padding: 0;

      .nav-item {
        display: inline-block;
        position: relative;
        padding: 2rem 1.5rem;
        &.current > a {
          color: $secondary-color;
        }

        &.top {
          display: none;
        }
      }

      #lamp-switch {
        display: none;
      }
    }

    // Light-mode/Dark-mode
    #lamp {
      position: absolute;
      right: 3.5rem;
      top: 0;
      z-index: 5;
      cursor: pointer;
    }

    #lamp-light {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 4;
    }
  } 
}

@include mediaMd {
  .light {
    .menu {
      background: rgba($bg-color-light, $background-opacity);
    }
  }

  .dark {
    .menu {
      background: rgba($bg-color-dark, $background-opacity);
    }
  }

  .header {
    #logo {
      img {
        height: 2.5rem;
      }
    }

    #lamp, #lamp-light {
      display: none;
    }

    .menu {
      position: fixed;
      z-index: 5;
      top: 0;
      right: 10px;
      width: 200px;
      height: 300px;
      display: flex;
      justify-content: flex-end;
      border-radius: 0 0 8% 8%;
      visibility: hidden;

      &.show {
        visibility: visible;
      }

      &-nav {
        margin: 0;
        padding: 80px 0 20px 0;
        list-style: none;
        position: fixed;
        text-align: right;
        @include easeOut;
        transform: translate3d(0, -100%, 0);

        &.show {
          transform: translate3d(0, 0, 0);
        }

        .nav-item {
          display: block;
          position: relative;
          padding: 0.5rem 1.5rem;

          &.current > a {
            color: $secondary-color;
          }
        }
      }
    }

  }
}

@include mediaSm {
  .header {
    height: 5rem;
    #logo {
      margin: 1.5rem 2rem 1rem 1.5rem;
      img {
        height: 2rem;
      }
    }

    .menu-btn {
      right: 1.5rem;
      top: 1.8rem;
    }
  }
}