<div id="about" [className]="colorTheme.isLight ? 'about light' : 'about dark'">
    <div class="box1">
      <h2 id="myName">
        Iris
      </h2>
      <hr class="short-line"/>
    </div>
    <div class="box2">
      <img class="location-icon" [src]="colorTheme.isLight ? '../assets/img/about/location.svg' : '../assets/img/about/location-dark.svg'" alt="" />
      <h3 class="sm-heading location">Enschede, Netherlands</h3>
    </div>
    <div class="box3">
      <h2>Fast learner, World explorer, Observer</h2>
    </div>
    <div class="box5">
      <img src="../assets/img/about/about.jpg" alt="" class="shadowed">
    </div>
    <div class="box4">
      <p>Hi🙋! I am currently a master student in University of Twente and KTH Royal Institute of Technology studying a double degree program EIT Digital Master School in Human-Computer Interaction and Design. My background in software engineering and diverse interest in phychology, design, art, etc. allowed me to be capable of carrying out user-centered design for novel digital services. </p>
      <p>Besides, speaking both Chinese and English, the variety of language fasinates me. I would also like to explore in AI more specifically natural language processing to put what I’ve learned into practice.</p>
      <p>Curious and passionate, I am always ready to create something amazing and fulfilll real societal needs!</p>
    </div>
  </div>