<div [className]="colorTheme.isLight ? 'detail light' : 'detail dark'">
  <!-- <img (click)="deselectProject()" class="back" routerLink="/" [src]="colorTheme.isLight ? 'assets/img/projects/back-light.svg' : 'assets/img/projects/back-dark.svg'" alt="Go Back"> -->
  <a routerLink="/" (click)="deselectProject()" class="back">
    <svg width="104px" height="103px" viewBox="0 0 104 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <g id="Artboard" transform="translate(-47.000000, -36.000000)" stroke="#FCFAF1" stroke-width="9">
              <g id="Group" transform="translate(53.644660, 41.254340)">
                  <polyline id="Path" points="44 0 -3.90798505e-14 46.5 44 93"></polyline>
                  <path d="M92.8553405,46.5 L0,47" id="Path-2"></path>
              </g>
          </g>
      </g>
    </svg>
  </a>
  <ng-container *ngIf="project !== null && project !== undefined else warning">
    <div class="static-content">
      <div class="images">
        <img *ngFor="let filename of project.images" src="assets/img/projects/{{ project.id }}/{{ filename }}" alt="">
      </div>
      <div class="texts">
        <h2>{{ project.title }}</h2>
        <p *ngFor="let p of project.description">{{ p }}</p>
        <ng-container *ngIf="project.relatedLink.length > 0">
          <p>Also check us out👇</p>
          <p *ngFor="let link of project.relatedLink">{{link[0]}}: <a href="link[1]" target="_blank">{{link[1]}}</a></p>
        </ng-container>
      </div>
    </div>
    <!-- <iframe *ngIf="project.video.length > 0" class="video" [src]="getEmbedUrl()"></iframe> -->
  </ng-container>
  
  <ng-template #warning>
    <h3 class="warn">No selected project. Tap back button to view main page.</h3>
  </ng-template>
</div>

