<div id="home" [className]="colorTheme.isLight ? 'home light' : 'home dark'">
    <img src="../assets/img/home/main.jpg" alt="" class="home-img shadowed">
    <div class="lg-intro">
      <div>
        <h1>Oh, HI!</h1>
        <h2>I’m Zhuowen Fang<br/>You can call me <span class="text-secondary">Iris</span></h2>
      </div>
    </div>
    <div class="sm-intro">
      <h3>Web Developer, Designer, Programmer & Traveller</h3>
      <div class="icons">
        <a href="https://github.com/irisfffff" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/zhuowen-fang-b482a3153/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.instagram.com/irisfffff/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.youtube.com/channel/UCS4skTWB7AxlOW5B5A0lqcg?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
    </div>
    <img src="../assets/img/home/path.svg" alt="" class="decoration">
  </div>